/* Write your CSS here */
* {
  padding: 0px;
  margin: 0px;
}

.container {
  background-color: #07080c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  width: 100vw;
}
.image {
  width: 75%;
  padding: 10px;
}
.paragraph {
  padding: 24px;
  color: #cbd5e1;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 300px;
}
button {
  width: 100px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 12px;
}
.accelerate-button {
  color: #ffffff;
  background-color: #0b69ff;
}
.brake-button {
  color: #94a3b8;
  background-color: transparent;
  border-color: #94a3b8;
  border-style: solid;
}
.heading {
  font-style: italic;
  font-size: 55px;
}
